extends layout
block content
    div.container
        div.panel
            h1 Orz...
            div.line-sep
            br
            -if (message)
                h3 Something goes wrong: #{message}.
            -else
                h3 Something goes wrong.
            br
            h4 You can &nbsp;&nbsp;
                a(href="/") go back to todoList
