doctype 5
html
    head
        link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        title todoList

    body
        div#wrap
            div.navbar.navbar-inverse.navbar-fixed-top
                div.navbar-inner
                    div.navbar-container
                        button(type="button", data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        div.nav-collapse.collapse
                            -if (!user)
                                ul.nav
                                    li
                                        a(href="/", style="font-size: 20px;") todoList
                                ul.nav
                                    li
                                        a(href="/login") login
                                    li
                                        a(href="/register") register
                            -else
                                ul.nav
                                    li
                                        a(href="/", style="font-size: 20px;") todoList
                                ul.nav
                                    li
                                        a(href="/") #{user.name}' s own list
                                ul.nav
                                    //- li
                                    //-     a(href="/test") Test
                                ul.nav#log-out
                                    li
                                        a(href="/logout") logout
            div.header-padding
                block content
            div#push
        div#footer
            div.container
                .line-sep
                p © 2013 dbPrj_todoList
                    and
                    a(href="http://yumaoshu.com", target="_blank") @yumaoshu&nbsp;
                p &nbsp;
