doctype 5
html
    head
        title todoList
        link(rel='stylesheet', href="/stylesheets/login.css")
        link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
        link(rel='stylesheet', href="/stylesheets/layout.css")
        script(data-main='/js/login.js', src='/js/require-jquery.js')
    body#login
        div#login-panel.panel
            #login-wrapper
                div#login-top
                    h1 Log In
                div.line-sep
                div#login-content
                    - if (status)
                        - if (status == '3')
                            p.text-success Register Succecced
                        - else if (status == '1')
                            p.text-error Wrong password
                        - else if (status == '2')
                            p.text-error Incorrect account name
                        - else if (status == '4')
                            p.text-info Please login
                    form.form-horizontal(action="/login", method="post")
                        div.control-group
                            label#login-label.control-label Account Name
                            div#login-control.controls
                                input#username(type="text", placeholder="Account Name", name="username")
                        div.control-group
                            label#login-label.control-label Password
                            div#login-control.controls
                                input#password(type="password", name="password", placeholder="Password")
                        div.control-group
                            div.controls
                                button#login-btn.btn.btn-primary(type="submit", value="Log Int") Log In
                                div
                                    a(href='/register') No Account Yet?
                div.line-sep
                footer.footer(style = "margin-top: 60px;")
                    div.container(style = "width: auto;")
                        p ©&nbsp;2013&nbsp;dbPrj_todoList
                        p
                            a(href="http://yumaoshu.com", target="_blank") @yumaoshu&nbsp;
