doctype 5
html
    head
        title todoList
        link(rel='stylesheet', href="/stylesheets/register.css")
        link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
        link(rel='stylesheet', href="/stylesheets/layout.css")
        script(data-main='/js/register.js', src='/js/require-jquery.js')
    body#register
        div#register-panel.panel
            #register-wrapper
                div#register-top
                    h1 Sign Up
                div.line-sep
                div#register-content
                    - if (status)
                        - if (status == '1')
                            p.text-error Name already taken
                        - else if (status == '2')
                            p.text-error Sign up failed, please try again later.
                    form.form-horizontal(action="/register", method="post")
                        div.control-group
                            label#register-label.control-label Account name
                            div#register-control.controls
                                input#name(type="text", name="name")
                        div.control-group
                            label#register-label.control-label Password
                            div#register-control.controls
                                input#password(type="password", name="password")
                        div.control-group
                            label#register-label.control-label Confirm password
                            div#register-control.controls
                                input#password2(type="password", name="password2")
                        div.control-group
                            label#register-label.control-label Email
                            div#register-control.controls
                                input#email(type="text", name="email")
                        div.control-group
                            div.controls
                                button#confirm-btn.btn.btn-primary(type="submit", value="Sign Up!") Sign Up!
                div.line-sep
                footer.footer(style = "margin-top: 60px;")
                    div.container(style = "width: auto;")
                        p ©&nbsp;2013&nbsp;dbPrj_todoList
                        p
                            a(href="http://yumaoshu.com", target="_blank") @yumaoshu&nbsp;
