#register-panel {
    margin: 0 0 0 -210px;
    width: 420px;
    text-align: center;
    z-index: 99;
    position: absolute;
    top: 0;
    padding: 50px 50px 50px 50px;
    left: 50%;
}

#register-wrapper {
    display: none;
}
#register-top{
    padding-top: 50px;
    padding-bottom: 20px;
}

#register-label{
    width: 60px;
    text-align: center;
}

#register-control{
    margin-left: 0;
}

#register-btn{
    margin-bottom: 10px;
}

#register-content{
    padding-top: 20px;
    padding-bottom: 10px;
}